.DS_Store
experiments_singlegpu/datasets/CIFAR10
experiments_singlegpu/datasets/EMOTIC
experiments_singlegpu/datasets/SUN397
experiments_singlegpu/datasets/OxfordIII-TPet
experiments_singlegpu/datasets/Selfie-Image-Detection-Dataset
experiments_singlegpu/datasets/IIIT-CFW
experiments_singlegpu/datasets/ArtImages
experiments_singlegpu/datasets/iCartoonFace
__pycache__
prova.py 
*.out
features.npy
targets.npy
*.pt
